header {
  padding: var(--space-padding-sm) var(--space-padding-md);
  top: 0;
  position: fixed;
  width: calc(100% - (2 * var(--space-padding-md)));
  background: white;
}

h1 {
  margin: 0;
  padding: 0;
  display: inline-block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li a {
  padding: 0 var(--space-padding-sm);
  margin: 0 var(--space-padding-sm);
  max-width: 7rem;
  cursor: pointer;
}
