:root {
  --color-bg-primary: #fff;
  --color-bg-secondary: #000;
  --color-bg-accent: blue;
  --space-padding-xxs: 0.4rem;
  --space-padding-xs: 0.8rem;
  --space-padding-sm: 1.6rem;
  --space-padding-md: 2.4rem;
  --space-padding-lg: 3.2rem;
  --space-margin-xxs: 0.4rem;
  --space-margin-xs: 0.8rem;
  --space-margin-sm: 1.6rem;
  --space-margin-md: 2.4rem;
  --space-margin-lg: 3.2rem;
  --space-gap-xxs: 0.4rem;
  --space-gap-xs: 0.8rem;
  --space-gap-sm: 1.6rem;
  --space-gap-md: 2.4rem;
  --space-gap-lg: 3.2rem;
  --typography-size-h1: 9.6rem;
  --typography-size-h2: 6rem;
  --typography-size-h3: 4.8rem;
  --typography-size-h4: 3.4rem;
  --typography-size-h5: 2.4rem;
  --typography-size-h6: 2rem;
  --typography-size-body1Light: 1.6rem;
  --typography-size-body1: 1.6rem;
  --typography-size-body1Bold: 1.6rem;
  --typography-size-body2Light: 1.4rem;
  --typography-size-body2: 1.4rem;
  --typography-size-body2Bold: 1.4rem;
  --typography-size-captionLight: 1.2rem;
  --typography-size-caption: 1.2rem;
  --typography-size-captionBold: 1.2rem;
  --typography-weight-h1: 500;
  --typography-weight-h2: 500;
  --typography-weight-h3: 500;
  --typography-weight-h4: 500;
  --typography-weight-h5: 500;
  --typography-weight-h6: 500;
  --typography-weight-body1Light: 300;
  --typography-weight-body1: 500;
  --typography-weight-body1Bold: 700;
  --typography-weight-body2Light: 300;
  --typography-weight-body2: 500;
  --typography-weight-body2Bold: 700;
  --typography-weight-captionLight: 300;
  --typography-weight-caption: 500;
  --typography-weight-captionBold: 700;
  --typography-letter-space-h1: -0.15rem;
  --typography-letter-space-h2: -0.05rem;
  --typography-letter-space-h3: 0;
  --typography-letter-space-h4: 0.025rem;
  --typography-letter-space-h5: 0;
  --typography-letter-space-h6: 0.015rem;
  --typography-letter-space-body1Light: 0.05rem;
  --typography-letter-space-body1: 0.05rem;
  --typography-letter-space-body1Bold: 0.05rem;
  --typography-letter-space-body2Light: 0.025rem;
  --typography-letter-space-body2: 0.025rem;
  --typography-letter-space-body2Bold: 0.025rem;
  --typography-letter-space-captionLight: 0.04rem;
  --typography-letter-space-caption: 0.04rem;
  --typography-letter-space-captionBold: 0.04rem;
  --typography-color-success: #357a38;
  --typography-color-disabled: #595959;
  --typography-color-primary: #000;
  --typography-color-secondary: #fff;
  --typography-color-error: #bf360c;
  --typography-font-primary: 'Noto Sans';
  --card-container-max-width: 25rem;
  --card-container-border-width: 0.1rem;
  --card-container-border-color: #dddddd;
  --size-navigation-link: 7rem;
  --spinner-border-width: 0.3rem;
  --spinner-width: 5rem;
  --spinner-height: 5rem;
  --spinner-color-fg: #000;
  --spinner-color-bg: #fff;
}
